{
    "Account_1": {
        "exchange": "binance",
        "apiKey": "YOUR_BINANCE_API_KEY",
        "secret": "YOUR_BINANCE_SECRET",
        "enableRateLimit": true,
        "options": {
            "defaultType": "future"
        }
    },
    "Account_2": {
        "exchange": "bitget",
        "apiKey": "YOUR_BITGET_API_KEY",
        "secret": "YOUR_BITGET_SECRET",
        "password": "YOUR_BITGET_PASSWORD",
        "enableRateLimit": true,
        "options": {
            "defaultType": "swap"
        }
    }
}
nohup streamlit run app.py --server.port 8765 > streamlit_app.log 2>&1 &